.menu {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 64px;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-picker {
    margin-left: 25px;
    background-color: #f2f4f6;
    border-radius: 30px 30px;
    height: 30px;
    width: 200px;
    border: #f2f4f6;

}

.button-avatar {
    justify-content: center;
    flex-grow: 2;
    margin: 0px 100px;
    height: 40px;
    border-radius: 5px;
    border: #f2f4f6;
    font-weight: bold;

}


.button-icon img {
    margin-left: auto;
    margin-right: 25px;
}

.button-avatar:hover {
    background-color: #f2f4f6
}

/* .button-icon:hover img {
    filter: invert(50%)
} */


/*******/
/* CSS for the menu and modal */
.menu .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* Tạo overlay mờ và đặt z-index cao để nằm trên các phần tử khác */
}

.menu .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    /* Căn giữa và thiết lập một số thuộc tính cho nội dung hộp thoại */
}

.menu.show-modal .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Hiển thị overlay khi có class show-modal */
}

/*CSS menu icon*/
.menu-capsule {
    position: absolute;
    top: 50px;
    left: 210px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 255px;
    height: 230px;
    border-radius: 10px;
}


.menu-capsule::before {
    position: absolute;
    top: 0px;
    left: 50%;
    /* Điều chỉnh vị trí ngang của mũi tên */
    border: 8px solid transparent;
    border-bottom-color: #fff;
    transform: translateX(-50%);
}

.menu__container {
    display: flex;
    flex-direction: column;
}

.menu-capsule button {
    width: 255px;
    height: 46px;
}

/*CSS menu Item*/
.menu-capsule .menu-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #24272a;
    padding: 14px 16px;
}

.menu__container :first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu__container :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-item:hover {
    background-color: #f2f4f6
}

.menu-item-link {
    display: flex;
    align-items: center;
}


/*Menu add count*/
.popoper-box {
    display: flex;
    flex-direction: column;
    width: 328px;
}

.popoper-header__title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.popoper-header__title button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.popoper-header__title h2 {
    font-size: 18px;
}

.popoper-header__title>.rollback:hover img,
.popoper-header__title>.close:hover img {
    filter: invert(50%)
        /* Màu chữ mới khi hover (ở đây là màu xanh nước biển) */
}

.popoper-content {
    padding: 0px 16px 16px;
}

.popoper-content__add {
    display: flex;
    flex-direction: column;
}

.popoper-content__add label {
    height: 24px;
    font-size: 16px;
    font-weight: 600
}

.popoper-content__add input {
    padding: 1px 16px;
    height: 40px;
    border: 2px solid;
    border-radius: 5px;
}
.popoper-content__btn {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.popoper-content__btn button{
    width: 145px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 16px;
}
.popoper-content__btn >.cancel{
    background-color: #fff;
    color: #0376c9;
    border: #0376c9 1px solid;
}
.popoper-content__btn >.add{
    color: #fff;
    background-color: #0376c9;
    border: none;
}

