body {
  margin: 0;
  font-family: "Euclid Circular B", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 30px;
  background-color: #f2f4f6
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
